In [1]:
import pandas as pd 
import numpy as np 
import warnings as w
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

w.filterwarnings('ignore')

In [2]:
df = pd.read_csv('/kaggle/input/delhi-air-quality-dataset/final_dataset.csv')

In [3]:
df.sample(5)

,Date,Month,Year,Holidays_Count,Days,PM2.5,PM10,NO2,SO2,CO,Ozone,AQI
237,26,8,2021,0,4,45.32,158.52,27.00,6.86,0.52,47.87,125
249,7,9,2021,0,2,45.95,70.27,25.04,8.55,0.58,40.35,94
540,25,6,2022,0,6,103.97,228.02,16.02,11.84,0.97,80.12,199
264,22,9,2021,0,3,31.75,57.01,5.94,2.15,1.00,12.70,54
1180,26,3,2024,0,2,68.20,149.41,20.65,23.19,0.61,39.49,108

In [4]:
df['Day'] = df['Date']

In [5]:
df.drop(columns='Date',inplace=True)

In [6]:
df['proper_date'] = pd.to_datetime(df[['Year','Month','Day']])

df = df.sort_values('proper_date')

In [7]:
df['Date'] = df['Day']
df.drop(columns=['Day', 'Date', 'Year', 'Month'], inplace=True)

In [8]:
df.sample(5)

,Holidays_Count,Days,PM2.5,PM10,NO2,SO2,CO,Ozone,AQI,proper_date
92,0,6,69.14,189.48,69.28,17.71,1.40,43.44,159,2021-04-03
173,0,3,95.84,285.92,50.92,8.78,0.80,33.85,236,2021-06-23
478,1,7,153.34,368.79,49.99,74.81,0.83,87.03,282,2022-04-24
1245,0,4,81.19,244.07,31.15,30.60,0.61,42.61,150,2024-05-30
843,0,1,47.13,208.59,28.26,63.03,0.78,71.98,176,2023-04-24

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Holidays_Count  1461 non-null   int64
 1   Days            1461 non-null   int64
 2   PM2.5           1461 non-null   float64
 3   PM10            1461 non-null   float64
 4   NO2             1461 non-null   float64
 5   SO2             1461 non-null   float64
 6   CO              1461 non-null   float64
 7   Ozone           1461 non-null   float64
 8   AQI             1461 non-null   int64
 9   proper_date     1461 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 114.3 KB

In [10]:
df.columns

Index(['Holidays_Count', 'Days', 'PM2.5', 'PM10', 'NO2', 'SO2', 'CO', 'Ozone',
       'AQI', 'proper_date'],
      dtype='object')

In [11]:
df.describe()

,Holidays_Count,Days,PM2.5,PM10,NO2,SO2,CO,Ozone,AQI,proper_date
count,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461
mean,0.189596,4.000684,90.774538,218.219261,37.184921,20.104921,1.025832,36.338871,202.210815,2023-01-01 00:00:00.000000256
min,0.000000,1.000000,0.050000,9.690000,2.160000,1.210000,0.270000,2.700000,19.000000,2021-01-01 00:00:00
25%,0.000000,2.000000,41.280000,115.110000,17.280000,7.710000,0.610000,24.100000,108.000000,2022-01-01 00:00:00
50%,0.000000,4.000000,72.060000,199.800000,30.490000,15.430000,0.850000,32.470000,189.000000,2023-01-01 00:00:00
75%,0.000000,6.000000,118.500000,297.750000,45.010000,26.620000,1.240000,45.730000,284.000000,2024-01-01 00:00:00
max,1.000000,7.000000,1000.000000,1000.000000,433.980000,113.400000,4.700000,115.870000,500.000000,2024-12-31 00:00:00
std,0.392116,2.001883,71.650579,129.297734,35.225327,16.543659,0.608305,18.951204,107.801076,NaN

In [12]:
df.nunique()

Holidays_Count       2
Days                 7
PM2.5             1391
PM10              1436
NO2               1308
SO2               1180
CO                 240
Ozone             1264
AQI                403
proper_date       1461
dtype: int64

In [13]:
df.duplicated().sum()

0

In [14]:
df.isna().sum()

Holidays_Count    0
Days              0
PM2.5             0
PM10              0
NO2               0
SO2               0
CO                0
Ozone             0
AQI               0
proper_date       0
dtype: int64

# Exploratory Data Analysis